deps/

.bender/
Bender.lock
/working_dir/

.vscode/
__pycache__

// Modelsim Fiels
*.wlf
modelsim.ini
*stacktrace*
transcript

gmon.out

# Local simulation artifacts
/target/sim/work-vlt/
/target/sim/trace_hart_*.dasm
/target/sim/uart0.log
/target/sim/logs/trace_hart_*.dasm
/target/sim/sw/device/apps/*/build/
/target/sim/sw/host/apps/*/build/
